<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/logo.png" style="width: 50px;">
    <title>DISchool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{css/index.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <style>
        #banner{
          background-image: image("banner.jpg");
          background: no-repeat fixed;
          background-size: cover;
          position: relative;

        }
        @media (max-width: 1024px){
        #banner{
          background-attachment: scroll;
          }
        }
        .bg-color{
          background-color:whitesmoke;
          min-height: 650px;
        }
        .text{
          text-align: justify;
        }
        .nav-link {
          color: white;
        }
        i{
          color: #0cb8b6;
        }
        .banner-info{
	      padding-top: 190px;
        }
        .row-facility {
          background: url('https://static9.depositphotos.com/1594308/1131/i/600/depositphotos_11312029-stock-photo-funny-kids.jpg') no-repeat fixed;

        }


    </style>

  </head>
  <body>
    <section id="home">
    <nav class="navbar fixed-top px-3"  style="background-color: #7cbcde;">
      <a class="navbar-brand ms-5" href="#">
        <img src="image/DI-white-logo-removebg-preview.png" alt="Bootstrap" width="50" height="50">
      </a>
        <ul class="nav nav-pills me-5">
        <li class="nav-item">
          <a class="nav-link" href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile">PROFILE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#facility">FACILITY</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#footer">CONTACT</a>
        </li>
      </li><li class="nav-item">
        <a class="nav-link" th:href="@{/login}">LOGIN</a>
      </li>
      </ul>
    
    </nav>
    <!-- Banner -->
    <div class="banner" id="banner">
      <div class="bg-color">
        <div class="container ">
          <div class="row">
            <div class="banner-info" >
              <div class="banner-logo text-center">
                <img src="image/banner.png" class="img-responsive" style="width: 1000px;">
              </div>
              <div class="overlay-detail text-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- End Banner -->

    <!-- Visi Misi -->
    <section class="vs text-white" id="profile" style="background-color: #0e78b0">
      <div class="container">
        <div class="row featurette  mb-5" >
          <h2 class="featurette-heading fw-normal lh-1 text-center mt-5 mb-5"><b>VISI & MISI</b>
            <br><hr class="botm-linee" style="margin-left: auto; margin-right: auto;">
          </h2>
          <div class="" style="text-align: justify;">
            <h4 class="featurette-heading fw-normal"><b>VISI</b></h4>
            <p class="lead">               
              Terwujudnya insan yang berakhlak mulia, berbudaya, cerdas, berjiwa sosial, peduli lingkungan, dan siap bersaing di era globalisasi.
            </p>
            <h4 class="featurette-heading fw-normal"><b>MISI</b></h4>
            <p class="lead">
              1.  Meningkatkan dasar- dasar akhlak mulia dan budi pekerti luhur melalui kegiatan- kegiatan keagamaan, sosial, dan budaya sekolah.<br>
              2.  Membudayakan semboyan 5S ( Senyum, Sapa, Salam, Sopan, Santun) dan SIMATETO (Permisi, Maaf, Terimakasih, Tolong)<br>
              3.  Membina insan memiliki kemampuan akademik dan nonakademik, kreatif, berpikir kritis, pemberani, tanggung jawab, dan mandiri.<br>
              4.  Melaksanakan pembelajaran aktif, kreatif, efektif, dan menyenangkan.<br>
              5.  Meningkatkan kegiatan yang berwawasan IPTEK (Ilmu Pengetahuan dan Teknologi).<br>
              6.  Melaksanakan pembiasaan hidup bersih, tertib, indah, dan sehat melalui kegiatan PHBS (Perilaku Hidup Bersih dan Sehat).<br>
              7.  Melaksanakan kegiatan 10K (Keamanan, Kebersihan, Ketertiban, Kerindangan, Keindahan, Kekeluargaan, Kesehatan, Kecintaan, Keteladanan, dan Kedisiplinan).<br>
              8.  Meningkatkan kepekaan sosial melalui kegiatan bimbingan, pembinaan, dan konseling.<br>
            </p>
          </div>
        </div>
        <hr>
      </div>
    </section>
<!--  -->

    <!-- Content Program -->
      <section class="program mb-5" id="scrollspyHeading1">
      <div class="container mt-5 mb-3"><br>
      <h2 class="title pu text-center mb-4" style="color:#308CBD;"><b>PROGRAM UNGGULAN</b>
      </h2>
        <div class="row mb-5">
        <div class="col-sm-6">
          <div class="card shadow-lg">
            <div class="card-body mb-5">
              <div class="row">
                <div class="col-4">
                  <img src="https://www.sekolahmuridmerdeka.id/wp-content/uploads/2021/08/Cambridge-English-Class-SD-01.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col">
                  <h5 class="card-title" style="color: #308CBD;"><b>English Ambassador</b></h5>
                  <p class="text">English as a second language, merupakan program bagi peserta didik yang dipilih
                    sebagai perwakilan terbaik. Diharapkan peserta didik yang terpilih dapat meningkatkan keterampilan
                    komunikasi , belajar membimbing orang lain atau mendorong rasa percaya diri para peserta didik,
                    dan berperan agar peserta didik lain ikut tertarik untuk meningkatkan bahasa Inggris mereka.
                  </p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow-lg">
            <div class="card-body mb-5">
              <div class="row">
                <div class="col-4">
                  <img src="https://sdsniagaekasari.sch.id/wp-content/uploads/2019/03/IMG20181022092640-300x225.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col">
                  <h5 class="card-title mb-3"  style="color: #308CBD;"><b>Little Doctor</b></h5>
                  <p class="text">Program ini digunakan untuk mendukung program sehat usia 
                    dini pada anak-anak sekolah dasar. Pentingnya melalukan kebersihan badan dan 
                    pola hidup sehat diperlukan untuk membetuk generasi muda bersih dan sehat. 
                    Sebagai Role Model, Dokter Kecil punya peran mengajak temannya untuk memiliki 
                    Perilaku Hidup Bersih dan Sehat (PHBS) dari mulai cara mencuci tangan dengan benar,
                    menjaga kebersihan di lingkungan sekitar.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-3">
        <div class="col-sm-6">
          <div class="card shadow">
            <div class="card-body mb-5">
              <div class="row">
                <div class="col-4">
                  <img src="https://sdsniagaekasari.sch.id/wp-content/uploads/2019/03/IMG_1687-600x400.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col">
                  <h5 class="card-title mb-3"  style="color: #308CBD;"><b>Leadership Spirit Development</b></h5>
                  <p class="text">Program ini merupakan pembentukan karakter peserta didik dengan menanamkan dan melatih  kebiasaan efektif  yang bertujuan memunculkan potensi kepemimpinan /leadership  pada setiap anak. Setiap siswa diberikan peran kepemimpinan
                    dan kesempatan untuk “tampil” pada setiap acara-acara kepemimpinan. (Petugas Upacara, Ketua Kelompok / regu).
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="card shadow">
            <div class="card-body mb-5">
              <div class="row">
                <div class="col-4">
                  <img src="https://sdsniagaekasari.sch.id/wp-content/uploads/2019/03/IMG_2211-600x400.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col">
                  <h5 class="card-title"  style="color: #308CBD;"><b>Outing Class</b></h5>
                  <p class="text">Supaya paham lebih mendalam mengenai tema pembelajaran yang sedang dipelajari, siswa diajak melakukan widya wisata ke lokasi yang sesuai. Aktivitas ini sekaligus untuk mengaplikasikan sikap dan akhlak
                     terpuji seperti yang sudah diajarkan di kelas, serta menumbuhkan kemampuan menganalisa, berfikir kritis dan ilmiah.
                  </p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="sidebar-divider my-0" />
    </div>
  </section>
<!-- END Program -->

    <!-- Fasilitas -->
    <section id="facility" class="section-padding mt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h2 class="featurette-heading fw-normal lh-1" style="color:#308CBD;"><b>SCHOOL FASILITIES</b></h2>
            <hr class="sidebar-divider my-0" />
            <div class="row shadow">
            </div>
            
          </div>
          <div class="col-md-4 col-sm-4" style="text-align: justify;">
            <div class="service-info">
              <div class="icon-info">
                <h4 style="color:#308CBD;"><i class="fa fa-book fa-2x" style="color: #0cb8b6;" aria-hidden="true"></i>
                  | <b> Library & Audio Visual</b></h4>
                <p>Sekolah memiliki perpustakaan (Library Media Center) yang dipadukan dengan ruang kreativitas siswa. Jenis koleksi yang tersedia bervariasi antara lain berupa buku-buku pengetahuan, fiksi, referensi, ensiklopedia, majalah dan surat kabar. Disamping itu tersedia pula koleksi yang berupa CD pembelajaran dan video untuk pengembangan proses belajar siswa di kelas, serta permainan edukatif seperti puzzle, balok, logico dan sebagainya.</p>
              </div>
            </div>
            <div class="service-info">
              <div class="icon-info">
                <h4 style="color:#308CBD;"><i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i><b> | Sports Facilities</b></h4>
                <p>Lapangan olahraga telah didesain untuk beragam pelajaran olahraga seperti bola basket, footsal, volley dan atletik. Lapangan yang luas dan sarana olahraga yang beragam memberi peluang lebih besar untuk dapat mengembangkan motorik kasar dan bakat anak. Lapangan dan sarana olahraga yang ada terdiri dari basket, badminton dan futsal.</p><br><br>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4" style="text-align: justify;">
            <div class="service-info">
              <div class="icon-info">
                <h4 style="color:#308CBD;"><i class="fa fa-user-md fa-2x" aria-hidden="true"></i><b> | Laboratory</b></h4>
                <p>Laboratorium IPA dilengkapi dengan sejumlah alat praktikum Science yang jumlahnya setara dengan jumlah siswa per kelasnya dengan ruangan ber-AC.
                  . Tidak hanya laboratorium ipa saja kami juga memiliki fasilitas Laboratorium computer SSH dilengkapi dengan sejumlah computer atau PC Quad Core dengan jaringan internet yang jumlahnya setara dengan jumlah siswa per kelasnya dengan ruangan ber-AC.</p>
              </div>
            </div>
            <br>
            <div class="service-info ">
              <div class="icon-info">
                <h4 style="color:#308CBD;"><i class='fas fa-mosque fa-2x'></i><b> | Praying Room</b></h4>
                <p>Mushola berada di dalam area sekolah. Untuk mendukung pelayanan terhadap jamaah, mushola dilengkapi dengan peralatan sound system yang memadai, yang sekaligus merupakan tempat aktifitas keagamaan.</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="sidebar-divider my-0" />
      </div>
    </section>
    <!--/ service-->
    
    <section id="teacher">
      <div class="container mt-4">
        <div class="row featurette mb-5" >
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1" style="color:#308CBD;"><b>MEET OURS TEACHER</b></h2>
            <br>
            <h2 class="featurette-heading fw-normal">Keishia Thorpe</h2>
            <p class="lead" style="text-align: justify;">Keishia Thorpe mengajar bahasa Inggris kepada siswa kelas 12 yang merupakan pembelajar bahasa Inggris di International High School Langley Park, Bladensburg, Maryland, Amerika Serikat, 
              sebuah sekolah di mana lebih dari 85% adalah siswa Hispanik dan 95% mengidentifikasi sebagai siswa rendah. 
            </p>
          </div>
          <div class="col-md-5">
            <div class="card" style="width: 25rem; margin-left: auto;">
              <img src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2021-11/211111-keishia-thorpe-mb-0859-6d95be.jpg" alt="">
            </div>
          </div>
        </div>
        <hr class="4">
        <div class="row featurette mt-5 mb-5">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Dayang Suriani</h2><br>
            <p class="lead"style="text-align: justify;">
              Sebagai seorang guru Bahasa Inggris, Dayang Suriani selalu berusaha mendorong para siswanya untuk bermimpi besar.Dayang mengajarkan bahasa Inggris dengan berbagai kreativitas. Salah satunya adalah mengajarkan penggunaan "Gerund" yang dikemas dengan istilah "Pertunjukan 7 Orang".
              Dengan kreativitasnya, Dayang mampu membawa siswa-siswinya untuk meraih angka maksimal. Bahkan, pada 2017 lalu, Dayang mampu masuk sebagai 50 guru terbaik seluruh dunia menyingkirkan lebih dari 20 ribu guru lainnya di Global Teacher Prize yang digelar di Dubai.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <div class="card" style="width: 25rem; margin-right: auto;">
              <img src="https://image.akurat.co/images/uploads/images/akurat_20191125024128_54GV9o.jpg" alt="">
            </div>
          </div>
        </div>
        <hr>
        <div class="row featurette mt-5 mb-5" >
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal">Hikmah Mulia Dewi</h2>
            <p class="lead" style="text-align: justify;">Berawal dari tiga murid, Hikmah Mulia Dewi merealisasikan mimpinya dengan mendirikan sekolah PAUD atau Preschool, dengan nama Rainbow Preschool di Pekalongan. Tak hanya bermain, Hikmah melakukan pendekatan melalui penyelidikan ilmiah dan penugasan proyek. Siswa-siswinya terus didorong untuk mengekspresikan berbagai idenya dan mendiskusikannya dengan teman-temannya.
              Hingga kini, sekolah Rainbow telah memiliki lebih dari 150 murid. Selain itu, Hikmah juga merancang program peningkatan guru untuk menciptakan guru prasekolah yang ahli. Dengan berbagai inovasi dan kreativitasnya, maka tak heran jika Hikmah masuk ke dalam daftar 50 pendidik terbaik di dunia dari Global Teacher Prize pada tahun 2018 silam.
            </p>
          </div>
          <div class="col-md-5">
            <div class="card" style="width: 25rem; margin-left: auto;">
              <img src="https://image.akurat.co/images/uploads/images/akurat_20191125024130_9L5bA1.jpg" alt="">
            </div>
          </div>
        </div>
        <hr>
        <div class="row featurette mt-5 mb-5">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Ahmad Riza Wahono</h2>
            <p class="lead" style="text-align: justify;">
              Setelah lulus sebagai seorang doktor insinyur mekanik di Universitas Manchester, Ahmad Wahono bekerja di Indonesia Aerospace atau PT Dirgantara Indonesia. Beberapa tahun setelah menjabat, Ahmad tergerak untuk mengabdi menjadi seorang pendidik dengan mendirikan sekolah alternatif.
              <br>
              Pada tahun 2004, Ahmad mendirikan TechnoNatura. Dimulai hanya dengan 26 anak, Madrasah TechnoNatura mendidik siswa-siswi yang memiliki ketertarikan di berbagai bidang, mulai dari sains, teknik, seni, sosial, hingga berbagai proyek kewirausahaan. Bahkan, kurikulum multimedia yang berbentuk e-learning yang telah dikembangkannya sekarang telah digunakan di lebih dari 3.000 sekolah.
              <br>
              Kegigihannya untuk terus menggerakkan ilmu pengetahuan di Indonesia membawanya meraih penghargaan sebagai 50 guru terbaik di dunia dari Global Teacher Prize pada tahun 2018.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <div class="card" style="width: 25rem; margin-right: auto;">
             <img src="https://image.akurat.co/images/uploads/images/akurat_20191125024129_wrMy31.jpg" alt="">
            </div>
          </div>
        </div>
        <hr class="sidebar-divider my-0" />
    <!-- End content Teacher -->

    <!-- Content Pengumuman -->
    <section class="program mb-5" id="info">
      <div class="container mt-5 mb-3"><br>
      <h2 class="title pu text-center" style="color:#308CBD;"><b>ANNOUNCEMENT<br>New Student Admission</b></h2>
        <div class="row mb-5" style="margin-left: auto; margin-right: auto;">
          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st4.depositphotos.com/20524830/25778/i/450/depositphotos_257785638-stock-photo-little-girl-reading-library.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Anastasia Harley</b><br>
                  Gender : Feminine<br>
                </p>
              </div>
            </div>
          </th>

          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st4.depositphotos.com/3584053/40434/i/450/depositphotos_404343798-stock-photo-cute-pupil-with-funny-face.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Alston Aratohrn</b><br>
                  Gender : Masculine<br>
                </p>
              </div>
            </div>
          </th>

          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st4.depositphotos.com/1594308/19941/i/450/depositphotos_199419528-stock-photo-happy-schoolboy-looking-camera-while.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Davine Aleavier</b><br>
                  Gender : Masculine<br>
                </p>
              </div>
            </div>
          </th>

          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st3.depositphotos.com/1594308/18790/i/450/depositphotos_187903178-stock-photo-smiling-schoolgirl-crayon-looking-camera.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Alvina Audie</b><br>
                  Gender : Feminine<br>
                </p>
              </div>
            </div>
          </th>

          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st.depositphotos.com/62628780/56772/i/450/depositphotos_567726200-stock-photo-happy-being-me-studio-shot.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Alma Aeslye</b><br>
                  Gender : Feminine<br>
                </p>

              </div>
            </div>
          </th>

          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st3.depositphotos.com/1594308/18790/i/450/depositphotos_187903994-stock-photo-little-schoolgirl-wih-blue-highlighter.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Chelsea Clara</b><br>
                  Gender : Feminine<br>
                </p>

              </div>
            </div>
          </th>

          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st3.depositphotos.com/1594308/18790/i/450/depositphotos_187903374-stock-photo-learner-elementary-school-sitting-desk.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Daisy Cornelia</b><br>
                  Gender : Feminine<br>
                </p>

              </div>
            </div>
          </th>

          <th>
            <div class="card ms-5 me-4 mb-3" style="width: 15rem;">
              <img src="https://st.depositphotos.com/62628780/60968/i/450/depositphotos_609687472-stock-photo-cool-confidence-portrait-happy-young.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">
                  <b>Diana Dawn</b><br>
                  Gender : Feminine<br>
                </p>

              </div>
            </div>
          </th>

        </div>
        <hr class="sidebar-divider my-0" />
    </div>
  </section>
  <!-- End Pengumuman -->

   <!-- Content Pengumuman -->
   <section class="program mb-5" id="galery" >
    <div class="container mt-5 mb-3"><br>
    <h2 class="title pu text-center" style="color:#308CBD;"><b>GALERY</b></h2>
      <div class="row mb-5" style="margin-left: auto; margin-right: auto;">
        <th>
          <div class="card shadow ms-4 me-5 mb-3" style="width: 22rem;">
            <img src="https://st3.depositphotos.com/9880800/16362/i/450/depositphotos_163627924-stock-photo-tug-of-war.jpg" class="card-img-top" alt="...">
          </div>
        </th>

      <th>
        <div class="card shadow ms-4 me-5 mb-3" style="width: 22rem;">
          <img src="https://st2.depositphotos.com/1518767/8442/i/450/depositphotos_84428190-stock-photo-smiling-school-kids-in-school.jpg" class="card-img-top" alt="...">
        </div>
      </th>
    
    <th>
      <div class="card shadow ms-4 me-5 mb-3" style="width: 22rem;">
        <img src="https://st3.depositphotos.com/9880800/15002/i/450/depositphotos_150025344-stock-photo-cute-kids-drawing.jpg" class="card-img-top" alt="...">
      </div>
    </th>

    <th>
      <div class="card shadow ms-4 me-5 mb-3" style="width: 22rem;">
        <img src="https://st3.depositphotos.com/9880800/16371/i/450/depositphotos_163710566-stock-photo-children-looking-at-book.jpg" class="card-img-top" alt="...">
      </div>
    </th>

    <th>
      <div class="card shadow ms-4 me-5 mb-3" style="width: 22rem;">
        <img src="https://2.bp.blogspot.com/-KXm3QS8yyWc/WMvfnJjWuQI/AAAAAAAAC3U/S0IY7G5x3sM470hT84clTEWMDlMIcBrMwCPcBGAYYCw/s1600/000000000000000000000000000000000000000.jpg" class="card-img-top" alt="...">
      </div>
    </th>

    <th>
      <div class="card shadow ms-4 me-5 mb-3" style="width: 22rem;">
        <img src="https://siedoo.com/wp-content/uploads/2019/12/karakter-1-1200x800.jpg" class="card-img-top" alt="...">
      </div>
    </th>
  
  </div>

  </div>
</section>
<!-- End Pengumuman -->
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>


    <!--footer-->
    <footer id="footer">
      <div class="top-footer bg-light">
        <br>
        <div class="container">
            <!--   Contact   -->
            <div class="row mb-5" style="margin-left: auto; margin-right:auto;">
          <div class="col-md-12 ">
            <h1 class="ser-title" style="color:#308CBD;"><b>CONTACT US</b></h1>
          </div>
          <div class="col-md-6 shadow" style="background-color: #0e78b0">
            <div class="row mt-5">
              <div class="col-1 ms-5"><i class="fas fa-map-marker-alt fa-2x" style="color: white;"></i></div>
              <div class="col">
                <h4 class="featurette-heading fw-normal text-white">Jl. Harsono RM, Kelurahan Ragunan Kecamatan Pasar Minggu Kota Jakarta Selatan, Ragunan, Kec. Pasar Minggu, Kota Jakarta Selatan Prov. D.K.I. Jakarta</h4></div>
              </div>
              <div class="row mt-5">
                <div class="col-1 ms-5"><i class=" 	fas fa-phone-volume fa-2x" style="color: white;"></i></div>
                <div class="col">
                  <h4 class="featurette-heading fw-normal text-white">(021) 78830426</h4></div>
                </div>
              </div>
              <div class="col-md-6 marb20">
                <div class="contact-info">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15862.883831191659!2d106.81146431914476!3d-6.300349662250676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69edff7ee7b2ff%3A0x76c620810ab68caa!2sSD%20Negeri%20Ragunan%208%20Pagi!5e0!3m2!1sid!2sid!4v1665328537584!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
        
    <!--/ contact-->
        </div>
      </div>
            <div class="footer-line" style="background-color: #7cbcde">
            <div class="container">
              <br>
              <div class="row">
                <div class="col-md-6 col-sm-4 marb20">
                  <div class="ftr-tle">
                    <h4 class="white no-padding" style="color:white ;"><b>About Us</b></h4>
                  </div>
                  <div class="info-sec" style="text-align: justify; color: white;">
                    <p>
                      SD Negeri 08 Ragunan adalah satu dari 4 sekolah net zero carbon yang baru saja diresmikan Gubernur DKI Jakarta. Sekolah di kawasan Jakarta Selatan ini menjadi salah satu sekolah ramah lingkungan pertama 
                      di Indonesia, karena mengusung konsep Net Zero Healthy Greenship. Menurut Wakil Kepala Sekolah SDN Ragunan 08 Pagi M. Syaikhu Rohman, cara yang dilakukan sekolah itu untuk mempertahankan konsep ramah lingkungan (Net Zero Healthy Greenship)
                      adalah dengan cara mengurangi kantong sampah di sekolahnya.
                    </p>
                  </div>
                </div>
                <div class="col-md-3  ms-4 me-4 ">
                  <div class="ftr-tle">
                    <h4 class="white no-padding" style="color:white ;">Quick Links</h4>
                  </div>
                  <div class="info-sec">
                    <ul class="quick-info">
                      <div class="row text-white">
                        <div class="col text-white">
                          <li><a href="#profile" style="color:white ;">Home</a></li>
                          <li><a href="#facility" style="color:white ;">Fasility</a></li>
                          <li><a href="#profile" style="color:white ;">Visi Misi</a></li>
                        </div> 
                        <div class="col text-white"> 
                          <li><a href="#galery" style="color:white ;">Galery</a></li>
                          <li><a href="#teacher" style="color:white ;">Our Teacher</a></li>
                          <li><a href="#info" style="color:white ;">Announcment</a></li>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="ftr-tle">
                    <h4 class="white no-padding" style="color: white;">Follow us On</h4>
                  </div>
                  <div class="info-sec">
                    <ul class="social-icon">
                      <a class="social-media-icon" href="https://web.facebook.com"><span class="fab fa-facebook fa-2x"></span></a>
                      <a class="social-media-icon" href="https://twitter.com"><span class="fab fa-twitter fa-2x"></span></a>
                      <a class="social-media-icon" href="https://www.instagram.com"><span class="fab fa-instagram fa-2x"></span></a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="footer-line" style="background-color: RGB(50, 85, 106)">
            <div class="container "><br>
              <div class="row">
                <div class="col-md-12 text-center text-white">
                  © Copyright DISchool. All Rights Reserved
                  <div class="credits">
                               Designed by DISchool
                  </div>
                </div>
              </div>
            </div><br>
          </div>
        </footer>
        <!--/ footer-->
</html>
